quarkus:
  banner:
    enabled: true
    path: banner.txt
  http:
    port: 8181
  fx:
    views-root: fxviews
  log:
    console:
      format: '%d{dd-MM-yyyy HH:mm:ss} %-5p [%c] (%t) %s%e%n'
    level: ERROR
    file:
      path: ${user.home}/.bad_stat/logs/bad-stat.log
      rotation:
        max-backup-index: 5
        max-file-size: 10M
        file-suffix: dd-MM-yyyy
  package:
    jar:
      type: uber-jar

"%prod":
  quarkus:
    log:
      level: WARN
      file:
        enable: true
      category:
          "de.ostfale.qk":
            level: WARN

"%dev":
    quarkus:
      log:
        level: INFO
        file:
          enable: false
        category:
          "de.ostfale.qk":
            level: DEBUG
