
.parent {
    -fx-background-color: #F5F5F7;
}

.sidebar {
    -fx-background-color: #ae1732;
}

.sidebar-btn {
    -fx-background-color: transparent;
}

.sidebar-btn:hover {
    -fx-background-color: #258ED9;
    -fx-border-width: 0px,0px,0px,2px;
}

.tree-table-row-cell:odd {
    -fx-background-color: #f0eaea;
    -fx-background-insets: 0, 0 0 1 0;
}

.tree-table-row-cell:selected {
    -fx-background-color: #007ACC;
    -fx-text-fill: white;
}

.tree-table-row-cell:selected:focused {
    -fx-background-color: #005A9E;
}

.tree-table-row-cell:selected:odd {
    -fx-background-color: #007ACC;
}

#webBtn {
    -fx-background-color: transparent;
}

#webBtn:hover {
    -fx-background-color: #258ED9;
    -fx-border-width: 0px, 0px, 0px, 2px;
}

#pdfBtn {
    -fx-background-color: transparent;
}

#pdfBtn:hover {
    -fx-background-color: #dbd887;
    -fx-border-width: 0px, 0px, 0px, 2px;
}
